name: Test

on: [push, pull_request]

permissions:
  contents: read

env:
  CONSOLE_OUTPUT: XTerm

jobs:
  test:
    name: ${{matrix.ruby}} on ${{matrix.os}} ${{matrix.gemfile}}
    runs-on: ${{matrix.os}}-latest
    continue-on-error: ${{matrix.experimental}}
    
    env:
      BUNDLER_GEMFILE: ${{matrix.gemfile}}
    
    strategy:
      matrix:
        os:
          - ubuntu
          # - macos
        
        ruby:
          - "2.7"
          - "3.0"
          - "3.1"
          
        gemfile:
          - gems/rack-v1.rb
          - gems/rack-v2.rb
          - gems/rack-v3.rb
          - gems/rack-head.rb
        
        experimental: [false]
        
        include:
          - os: ubuntu
            ruby: truffleruby
            experimental: true
          - os: ubuntu
            ruby: jruby
            experimental: true
          - os: ubuntu
            ruby: head
            experimental: true
          - os: macos
            ruby: "3.1"
    
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true
    
    - name: Run tests
      timeout-minutes: 10
      run: bundle exec bake test
